{% extends 'base.html' %} {% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <h1 class="h2 align-items-center pt-3 pb-2 mb-3 border-bottom">Dashboard</h1>
  <div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a
          class="list-group-item list-group-item-action active"
          id="list-home-list"
          data-toggle="list"
          href="#list-email"
          role="tab"
          aria-controls="home"
          >Send email</a
        >
        <a
          class="list-group-item list-group-item-action"
          id="list-profile-list"
          data-toggle="list"
          href="#list-video-edit"
          role="tab"
          aria-controls="profile"
          >Edit video</a
        >
        <a
          class="list-group-item list-group-item-action"
          id="list-messages-list"
          data-toggle="list"
          href="#list-messages"
          role="tab"
          aria-controls="messages"
          >Messages</a
        >
        <a
          class="list-group-item list-group-item-action"
          id="list-settings-list"
          data-toggle="list"
          href="#list-settings"
          role="tab"
          aria-controls="settings"
          >Settings</a
        >
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="list-email"
          role="tabpanel"
          aria-labelledby="list-home-list"
        >
          Send email instantly or after minute. Will be a possibility to send up to 5 emails.
          <br />
          <a href="/tasks/send-email">Go to task</a>
        </div>
        <div
          class="tab-pane fade"
          id="list-video-edit"
          role="tabpanel"
          aria-labelledby="list-profile-list"
        >
          Edit video with different options and display processed video.
          <br />
          <a href="/tasks/edit-video">Go to task</a>
        </div>
        <div
          class="tab-pane fade"
          id="list-messages"
          role="tabpanel"
          aria-labelledby="list-messages-list"
        >
          ...
        </div>
        <div
          class="tab-pane fade"
          id="list-settings"
          role="tabpanel"
          aria-labelledby="list-settings-list"
        >
          ...
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
